* {
	-moz-box-sizing:border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
	color: #eef4ed;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #3d405b;
}

.container {
	width: 800px;
	height: 93vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

h1.title {
	margin: 40px 0;
	font-size: 48px;
}


h3.current-grid-size,
h3.chosen-color {
	font-size: 15px;
	text-align: center;
}

h1.title,
h3.current-grid-size,
h3.chosen-color {
	font-family: "Madimi One", sans-serif;
}

div.main-panel {
	display: flex;
	box-shadow: 4px 4px 15px 1px #343a40;
}

div.control-panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 200px;
	gap: 10px;
	background: #264653;
}

.grid-container {
	max-width: 600px;
	height: 600px;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.grid-box {
	border: none;
	background: white;
}

input[type="color"] {
	width: 150px;
	height: 36;
}

div.buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;

}

button.btn {
	width: 150px;
	padding: 8px;
	background: #023047;
	border: none;
	transition: 0.3s;
	font-size: 13px;
	cursor: pointer;
}

button.generate-grid {
	background: #065a60;
}

div.color-palette {
	background: #023047;
	height: 36px;
    position: relative;
    width: 150px;
    text-align: center;
    line-height: 36px;
    font-size: 13px;
}

div.color-palette input {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	cursor: pointer;
}


button.btn:active {
	background: #3d405b;
	box-shadow: 2px 2px 10px 2px #343a40;
}

button.clear-surface,
button.reset-grid {
	background: #ad2e24;
}

.color-box {
	width: 150px;
	height: 36px;
	background: black;
}

div.footer {
	height: 7vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 13px;
	background: #264653;
	color: #d5d3d8;
}

.footer a {
	text-decoration: none;
	color: #d5d3d8;
}